In [7]:
import pandas as pd
import csv

In [27]:
file = "../data/populationDensity.csv"

In [31]:
birth_df = pd.read_csv(file, encoding="ISO-8859-1")

birth_df

,ï»¿Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.988889,312.361111,314.972222,316.844444,318.666667,...,566.922222,569.777778,573.105556,576.522222,579.672222,582.622222,585.366667,588.027778,NaN,NaN
1,Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.044987,14.323808,14.617537,14.926295,15.250314,...,46.131503,47.730564,49.428038,51.114778,52.712071,54.197114,55.595993,56.937760,NaN,NaN
2,Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.436891,4.498708,4.555593,4.600180,4.628676,...,19.427818,20.139513,20.867715,21.610475,22.366553,23.135064,23.916538,24.713052,NaN,NaN
3,Albania,ALB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,60.576642,62.456898,64.329234,66.209307,68.058066,...,106.029015,105.854051,105.660292,105.441752,105.135146,104.967190,104.870693,104.612263,NaN,NaN
4,Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.585106,32.702128,34.919149,37.168085,39.465957,...,178.185106,175.376596,171.859575,168.538298,165.980851,164.461702,163.831915,163.842553,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,88.729678,91.301552,93.873427,96.445302,99.017176,...,164.508129,165.987508,166.998898,166.507853,164.250574,163.273353,164.508404,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.214664,10.367390,10.524776,10.685450,10.848630,...,45.092691,46.353350,47.629807,48.910895,50.188247,51.457867,52.720459,53.977853,NaN,NaN
261,South Africa,ZAF,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.446194,14.809886,15.186970,15.577003,15.979722,...,42.869179,43.553244,44.258246,44.964505,45.657261,46.330985,46.987817,47.630120,NaN,NaN
262,Zambia,ZMB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.256620,4.386190,4.519975,4.658676,4.802949,...,18.863844,19.458321,20.078968,20.715577,21.360741,22.012009,22.671395,23.341479,NaN,NaN
263,Zimbabwe,ZWE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.094440,10.441259,10.801928,11.174515,11.557909,...,33.331565,33.902368,34.510420,35.121316,35.710557,36.268295,36.801719,37.324591,NaN,NaN

In [29]:
birth_df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,0.0,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,...,261.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,255.000000,2.000000,0.0
mean,NaN,176.930033,180.728042,184.790178,188.839689,192.944823,196.779946,200.812850,204.681556,208.160697,...,353.023091,359.622473,363.867389,368.965590,373.699981,378.507600,382.674593,309.154939,79.533321,NaN
std,NaN,938.265451,956.859268,977.236162,998.546604,1020.593797,1042.403029,1065.164998,1087.297699,1106.420461,...,1710.518077,1744.254127,1763.290879,1791.255826,1815.167196,1839.394290,1860.369132,1477.114792,20.485674,NaN
min,NaN,0.098625,0.102429,0.106526,0.110038,0.114721,0.118525,0.122622,0.127012,0.131402,...,0.138604,0.138409,0.137612,0.137154,0.136713,0.136889,0.136855,0.136492,65.047762,NaN
25%,NaN,11.000827,11.234115,11.481557,11.763087,12.060909,12.355337,12.666653,12.980436,13.316525,...,34.249382,34.374421,34.548031,35.040189,35.597142,36.193413,36.768740,37.348478,72.290542,NaN
50%,NaN,27.164844,27.752548,28.313135,28.894965,29.521628,30.326943,31.185876,32.075147,32.865634,...,74.858843,76.227070,77.149367,78.562138,79.590344,80.180937,80.410118,79.837686,79.533321,NaN
75%,NaN,85.926915,86.625889,87.352615,88.084313,88.753164,90.099394,91.701924,93.436047,94.473259,...,178.755417,188.251513,192.627308,194.088815,197.424810,199.974607,205.411243,197.309554,86.776101,NaN
max,NaN,11404.000000,11519.500000,11584.000000,11618.000000,11641.000000,11652.500000,11646.000000,11652.000000,12041.950000,...,18422.474860,18864.180540,19055.181700,19478.812070,19805.427880,20159.079200,20479.769990,20777.500260,94.018880,NaN